<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794586908232-iv1pkebotp26hephup0rj8f7v795vg8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794586908232-iv1pkebotp26hephup0rj8f7v795vg8j</string>
	<key>API_KEY</key>
	<string>AIzaSyA6LX07xYIxRJgWyqZWD8oG8OnllTS8LHg</string>
	<key>GCM_SENDER_ID</key>
	<string>794586908232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atc.timberstockapp</string>
	<key>PROJECT_ID</key>
	<string>timberstock-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>timberstock-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794586908232:ios:2a15584433e0a01482fa7d</string>
</dict>
</plist>